
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555555;
}
a {
    color: #555555;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #fa9d9d;
}
header {
	background: url(../assets/header-background3.png);
	width: 100%;
	height: 100px;
    position: fixed;
    background-position: center;
	top: 0;
	left: 0;
    z-index: 100;
    position: relative;
}
nav {
    padding: 20px;
    position: absolute;
    right: 10px;
    bottom: 0px;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
    background: url(../assets/menu-icon.png) center;
    background-size: 40px;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
ul {
	list-style: none;
}
li {
	display: inline-block;
    padding: 10px;
    margin: 5px;
    padding-top: 50px;
}
li a {
    padding: 5px;
    border-radius: 5px;
}
section {
	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px
}
p {
	line-height: 1.45em;
	margin-bottom: 20px;
}
.title{
    width: 55%;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 40px;
}
header h1{
    font-size: 50px;
}
header h2{
    font-size: 20px;
}
.container{
    background: url(../assets/background.png); 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.1fr;
    justify-items: center;
    align-items: center;
}
.about{
    height: 390px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.shop{
    height: 390px;
    width: 70%;
    background-color: rgba(99, 137, 196, 0.7);
    display: none;
    border-radius: 20px;
}
.contact{
    height: 390px;
    width: 70%;
    background-color: rgba(95, 207, 101, 0.6);
    display: none;
    border-radius: 20px;
}
.icon-bar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 30px;
    position: absolute;
    bottom: 5px;
}
.twitter, .etsy{
    color: #FAFFB9;
    margin-left: 20px;
    margin-right: 20px;
}
.facebook, .instagram{
    color: #88B1E0;
    margin-left: 20px;
    margin-right: 20px;
}




/*MEDIA QUERY*/
@media only screen and (max-width : 850px) {
	header {
		position: absolute;
	}
	#menu-icon {
		display:inline-block;
	}
	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 100%;
		border-radius: 4px 0 4px 4px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	nav:hover ul {
    	display: block
    }
    .title{
        top: 20px;
        left: 20px;
        line-height: 20px;
    }
    header h1{
        font-size: 50px;
        margin-bottom: 20px;
    }
    header h2{
        font-size: 15px;
    }
}